<section data-ng-controller="LinkCheckerController">
	<p>Course Manifest</p>
	<div bh-login ></div>
<select ng-model='domain' ng-options="d.name for d in domains"></select>
<select ng-model='course' id='courseSelect' ng-options="c.title for c in courses" ui-select2></select>

<button ng-click="query('http href src')">HyperLinks</button><br>
<table>
<tr>
	<th>Item</th><th>URL</th><th>Status</th>
	</tr>
	<tr ng-repeat='item in validated.invalid' class="bg-danger">
		<td><a href="https://byui.brainhoney.com/Frame/Component/CoursePlayer?enrollmentid={{item.entityid}}&itemid={{item.itemid}}"  target="_blank">{{item.title}}</td>
		<td>{{item.url}}</td>
		<td>{{item.status}}</td>
		
	</tr>
	<tr ng-repeat="vitem in validated.valid | orderBy: 'title'" ng-class="{'bg-success': vitem.status == 200, 'bg-warning': vitem.status == 401 || vitem.status == 302 }">
		<td><a href="https://byui.brainhoney.com/Frame/Component/CoursePlayer?enrollmentid={{vitem.entityid}}&itemid={{vitem.itemid}}" target="_blank">{{vitem.title}}</td>
		<td>{{vitem.url}}</td>
		<td>{{vitem.status}}</td>
		
	</tr>
</table>

{{urls}}

</section>